@import '@/scss/variables.scss';

.buttonLink {
    border-color: transparent;
    border-radius: 6px;
    background-color: $white;
    cursor: pointer;
    width : 6rem;
    height: 6rem;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin: auto;
        max-width: 3.5rem;
        max-height: 3.5rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

}