@import "@/scss/variables";

.lines {

    border-radius: .3125rem;
    background-color: $danger;
    box-shadow: $lightShadow;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: 300px;
        height: 300px;
    }

    h2 {
        padding: 1rem;
        font-size: 1.2rem;
        color: $white;
        font-weight: 500;
        line-height: 1.5rem;
        opacity: .5;
    }
}