@import "@/scss/variables";

.lines {
    height: 31.25rem;
    width:31.25rem;
    border-radius: .3125rem;
    background-color: $danger;
    box-shadow: $lightShadow;
    margin: 1.875rem 0;

    h2 {

        padding: 1rem;
        font-size: 1.2rem;
        color: $white;
        font-weight: 500;
        line-height: 1.5rem;
        opacity: .5;
    }
}