@import '../../scss/variables.scss';

.sidebar {
    background-color: $black;
    width: 7.3125rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        ul {
            color: $white;
            list-style: none;
            display: contents;

            li {
                margin: 1rem;

                .swim-icon {
                    border: .1875rem solid $danger;
                }

            }

            li:last-child {
                height: 250px;
                display: flex;
                align-items: center;


                p {
                    text-align: center;
                    white-space: nowrap;
                    color: $white;
                    transform: rotate(-90deg);

                }
            }

        }


    }
}